ol li:nth-child(even) {
    color: darkcyan;
}

body {
    margin: 20px;
}

#clockContainer {
    background: #DCDCDC;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.container1 {
    background: #66CDAA;
    padding: 10px;
    color: #fff;
}

.container2 {
    background: #40E0D0;
    padding: 10px;
    color: #FF00FF;
}

.two {
    width: 20px;
    padding: 10px;
}

.one {
    width: 10px;
}